@{
    ViewBag.Title = "Home Page";
}

@section style
{
    <style>
        
    </style>
}

@section scripts
{
    <script type="text/javascript">

    </script>
}

<div class="row">
    <div class="col-lg-2">
        Code
    </div>
    <div class="col-lg-2">
        <input type="text" class="form-control" id="txtCode" placeholder="Code">
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        Description
    </div>
    <div class="col-lg-2">
        <input type="text" class="form-control" id="txtCode" placeholder="Description">
    </div>
</div>
